OPENAI_API_KEY=sk-...
OPENAI_COMPUTER_MODEL=gpt-5.4
APP_EXE=C:\work\MyApp\bin\Debug\MyApp.exe
APP_WORKDIR=C:\work\MyApp
APP_LOG_DIR=C:\work\MyApp\logs
APP_STATE_DIR=C:\Users\<you>\AppData\Local\MyApp
MAIN_WINDOW_TITLE_REGEX=MyApp
